{% extends "base.html" %}

{% block title %}
Vehículos - Automotora Becker
{% endblock %}

{% block content %}

<!-- Últimas publicaciones -->
<div class="container my-4">
    <div class="row align-items-center bg-dark">
        <div class="col-12 d-flex justify-content-between">
            <h2 class="text-white bg-dark py-3 mb-0">Últimos Vendidos</h2>
        </div>
    </div>
    <div class="row">
        {% for i in range(4) %}
        <div class="col-12 col-md-3 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename='img/carrusel' + loop.index|string + '.jpeg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Título {{ loop.index }}</h5>
                    <p class="card-text">Breve descripción del contenido de la tarjeta.</p>
                    <a href="#" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Listado de vehículos -->
<div class="container">
    <div class="row">
        {% for auto in autos %}
        <div class="col-12 col-md-4 mb-4 card-img-aum">
            <div class="card h-100 shadow">
                <img src="{{ url_for('static', filename=auto.img) if auto.img else url_for('static', filename='img/default.jpg') }}" class="card-img-top" alt="{{ auto.marca }} {{ auto.modelo }}">
                <div class="card-body">
                    <h5 class="card-title">{{ auto.marca }} {{ auto.modelo }} {{auto.año}}</h5>
                    <!-- Estado en color según si está Vendido o En Venta -->
                    <p class="card-text">
                        {% if auto.estado == 'Vendido' %}
                            <span style="color: red; font-weight: bold;">{{ auto.estado }}</span>
                        {% elif auto.estado == 'En Venta' %}
                            <span style="color: green; font-weight: bold;">{{ auto.estado }}</span>
                        {% else %}
                            {{ auto.estado }}
                        {% endif %}
                    </p>
                    <p class="card-text">
                        <strong>Precio: </strong>{{ auto.precio | miles }}
                    </p>
                    <a href="/vehiculo/{{ auto.patente }}" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
